#nav .nav ul li:nth-child(6) .out{color:#FFFFFF;position:absolute;top:64px;left: 0px;}
#nav .nav ul li:nth-child(6) .over{background-color: rgba(255,255,255,1);color:#000000;position:absolute; top:-2px;left: 0px;}
/*#nav .nav ul li:nth-child(1):hover .out{position:absolute;top:64px;left: 0px;}
#nav .nav ul li:nth-child(1):hover .over{position:absolute;top:-2px;left: 0px;}*/
/*banner*/
#banner{width: 100%;height: 300px;}
#banner .banner{width: 100%;height: 100%;background:url(../img/news_banner03.jpg)no-repeat top center;margin-top: -64px;}
/*banner end*/
/*content*/
#content{width: 100%;height: 910px;box-sizing: border-box;}
#content .cont_type{height: 50px;width:100%;padding-top:5px;border-bottom: 1px solid #d6d6d6;}
#content .cont_type .type{height: 40px;overflow: hidden;}
#content .cont_type .type a{line-height: 40px;padding: 0 20px;font-size: 16px;color: #000000;height: 100%;display:block;float: left;}
#content .cont_type .type a:hover{background-color:#cb001a;color: #FFFFFF;}

#content .cont_list{height: 735px;margin-top: 53px;padding: 0 12px;}
#content .cont_list .list_t{width: 100%;height: 140px;overflow: hidden;}
#content .cont_list .list_t .pic_box{width: 170px;height: 140px;float: left;}
#content .cont_list .list_t .pic_box img{width: 100%;height: auto;}
#content .cont_list .list_t time{float: right;margin:20px 20px 20px 0;font-size: 12px; color: #969696;}
#content .cont_list .list_t >p{float: left;width: 1000px;height:auto;padding-left: 20px;font-size: 14px;line-height: 26px;text-indent: 70px;color: #666666;}
#content .cont_list >p{width: 1160px;margin: 0 auto;overflow: hidden;height: 66px;position: relative;font-size: 18px;}
#content .cont_list p a{color: #323232;line-height: 50px;}
#content .cont_list p time{float: right;float: right;font-size: 12px; color: #969696;position: absolute;bottom: 0px;right: 10px;}
#content .cont_list p a:hover{color: #45a5a1;} 


#content .page{height: 100%;text-align: right;padding-top:30px;}
#content .page a{background-color: #f2f2f2; text-align: center;line-height: 30px;margin-right: 6px;}
#content .page a:nth-child(1){width: 80px;height: 30px;display:inline-block;color: #666;}
#content .page a:nth-child(2){width: 30px;height: 30px;display:inline-block;background-color:#65beba;color: #FFFFFF;}
#content .page a:nth-child(3){width: 30px;height: 30px;display:inline-block;color: #666;}
#content .page a:nth-child(4){width: 30px;height: 30px;display:inline-block;color: #666;}
#content .page a:nth-child(5){width: 80px;height: 30px;display:inline-block;background-color:#65beba;color: #FFFFFF;margin-right: 20px;}
#content .page a:nth-child(1):hover{background-color: #65beba;color: #FFFFFF;}
#content .page a:nth-child(3):hover{background-color: #65beba;color: #FFFFFF;}
#content .page a:nth-child(4):hover{background-color: #65beba;color: #FFFFFF;}

/*content end*/